html, body {
    width: 100%;
    overflow-x: hidden;
}
#features {
    top: -50px;
}
.jumbotron {
    background-color: #74B8FF;
    text-align: center;
    color: white;
    min-height: 700px;
    margin: 0;
    background-image: url(background.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 245% auto;
}
oueve-assistant{
    background: url(background.jpg);
}

body, .jumbotron, .footer-brand {
    font-family: "Avenir Next", BlinkMacSystemFont, sans-serif;
}
body {
    background: #343332;
    color: white;
}
.footer-brand {
    font-size: 150%;
}
.navbar-other, .navbar-collapse {
    background-color: #74B8FF;
}
.navbar-other {
    height: 17px;
}
.brand {
    font-family: "Avenir Next", BlinkMacSystemFont, sans-serif;
}
.active {
    background: #808080;
    width: 100%;
}
.affix {
    position: relative;
    top: 0;
}
.navbar-brand {
    padding-left: 1em;
    position: fixed;
}
.other {
    padding-top: 45px;
    align-content: center
}
a.fixed {
    position: fixed;
    bottom: 0.2em;
}
.navbar-toggle {
    border-radius: 4px;
    border: 1px solid white;
}
.icon-bar {
    background-color: #808080;
    border: 1px solid white;
}
.nav.navbar-nav.navbar-right, .navbar-brand {
    color: white;
    font-family: "Avenir Next", BlinkMacSystemFont, sans-serif;
    margin-right: 0.8em;
    font-size: 115%;
}
li a {
    color: white;
}
ul.nav a:hover, ul.nav a:focus, ul.button a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: white;
}
.container.jumbo-cont {
    position: relative;
    height: 75%;
    top: 6em;
}
footer {
    color: #FFFBF8;
    background: #343332;
    padding: 16px 0 18px 0;
    position: sticky;
    bottom: 0;
}

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}
.icon.icon-droplet {
    fill: currentColor;
    background-color: #15ACE2;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 0.7em;
}

.icon.icon-facebook, .icon.icon-instagram {
    margin-right: 1em;
}
span.text {
    position: relative;
    top: -5px;
    color: #FFFBF8;

}
h2 {
    text-align: center;
    color: #FFFBF8;
}
h4 {
    font-size: 300%;
    color: #FFFBF8;
}
h5 {
    font-size: 300%;
    text-align: center;
    color: #FFFBF8;
    background: #343332;
}
img {
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
.border-desktop {
    border-right: solid #DBDBDB 1px;
}
.border-mobile {
    border-bottom: solid #DBDBDB 1px;
}
.right {
    text-align: right;
    border: 1px;
}
.right-left-aligned {
    position: absolute;
    left: 70%;
}
input, textarea {
    background-color: transparent;
    margin-left: 0.6em;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #15ACE2;
    width: auto; 
}
.sign-container {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
#sign-up {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #C9C9C9;
    margin: 0;
}
a.sign_up {
    color: #9C9C9C;
}
.drop {
    position: absolute;
    left: 10%;
}
.drop-mobile {
    position: absolute;
    left: 20%;
    background: none;
}
.drop-text {
    position: absolute;
    left: 44%;
    top: 64%;
}
.centered {
    color: #15ACE2;
    position: absolute;
    left: -14.5%;
    top: 33%;
    width: 99%;
    text-align: center;
}
.button {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 30%;
    text-align: center;
}
li.button-links {
    padding: 3px; 
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid white;
    width: 200px;
    overflow-x: auto;
    border-radius: 15px;
    display: block;
    float: left;
}

li.backlink {
    padding: 3px; 
    margin-bottom: 10px;
    border: 1px solid white;
    width: 200px;
    border-radius: 15px;
    display: block;
    float: center;
    align-self: center;
    margin-left:auto;
    margin-right:auto;
}
.image {
    position: absolute;
    top: -70px;
    right: 15%;
    width: 258px;
    height: 528px;
    background: url("img.png") 0 0;
}

descriptions {
    min-height: 500px
    text-align: center 
    width: "200"
}
.mobile {
    position: absolute;
    top: 236px;
    width: 258px;
    height: 250px;
    background: url("img.png") 0 0;
}
.devices {
    left: -15px;
}
.iPhone-5 {
    position: absolute;
    top: 236px;
    width: 258px;
    height: 250px;
    left: -50px;
    background: url("img.png") 0 0;
}
.iPad {
    position: absolute;
    top: 100px;
    width: 258px;
    height: 400px;
    left: 0px;
    background: url("img.png") 0 0;
}
#features {
    padding-top: 15px;
}
.button-pad {
    position: relative;
    right: -4%;
}
.col-md-3 {
    text-align: center;
}
.padding {
    position: absolute;
    top: 150px;
    left: 200px;
}
