body{
  background-color: #F2F2F2;
}

.navbar-dark{
  background-color: #4169E1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10;
}

.btn-outline-primary{
  color: #294390;
  border-color: #294390;
}

.btn-outline-primary:hover{
  color: white;
  background-color: #294390;
  border-color: #294390;
}

#navLogo{
  width: 5rem;
  height: auto;
  pointer-events: none;
}

#navNameLI{
  pointer-events: none;
  font-weight: bold;
}

#navName{
  color: #294390;
}

table thead th{
  text-align: center;
}

#headerBox{
  align-content: center;
  padding: 0px;

}

#headerBox h1 {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 20px;
  color: grey;
}
table, td, th, select{
  border-collapse: collapse;
}

#tableHead th{
  border-radius: 4px;
  padding: 15px;
  text-align: center;
}
#tableBody {
  border-radius: 4px;
  padding: 15px;
  text-align: center;
}
#tableBody td{
  padding: 15px;
  text-align: center;
}

select{
  z-index: 0;
  cursor: pointer;
}

#submit {
  /* color: grey; */
  display: block;
  width: 100px;
  margin: 15px auto;
  position:relative;
}

.tableRow{
  background-color: white;
}

.table{
  margin-bottom: 0px;
}

.table .text-right {
  padding-right: 3rem;
}

/* .table-expand-row-bottom{
  pointer-events: none;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#titleCard{
  padding: 0px;
  margin-top: 121px;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}


.barText{
  letter-spacing: -3px;
  opacity: 0.6;
  font-size: 3vw;
  color: black;
  /* position: absolute; */
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 1px;
}

.bar-graph {
  padding: 0 1rem;
  /* width: 100%; */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 425px;
  margin: 0;
  position: center;

  background: rgba(255, 255, 255, 0.25);
  border: 2px solid #294390;
  border-radius: 25px;
}

.bar-graph li {
  display: block;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 0 0;
  -webkit-flex: 1 1 15%;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
  -webkit-flex: 1 1 8%;
      -ms-flex: 1 1 8%;
          flex: 1 1 8%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed #8a8a8a;
    top: 0;
    left: 0;
    height: 50%;
    width: 20%;
  }
}

@media print, screen and (min-width: 40em) and (min-width: 64em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    width: 30%;
  }
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:after {
    left: auto;
    right: 0;
  }
}

@media print, screen and (min-width: 40em) {
  .bar-graph .percent {
    font-size: 14px;
    color: black;
  }
}
.bar-graph .percent {
  font-size: 2.5vw;
  color: #294390;
  opacity: 0.8;
  margin-top: -3.5vw;
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.8;
  color: #294390;
  text-transform: uppercase;
  width: 100%;
  font-size: 2.5vw;
  bottom: 0vw;
  position: absolute;
  overflow: hidden;
  word-wrap: break-word;
}

.bar-graph .bar.primary{
  border: 1px solid #294390;
  background: #4169E1;
  padding: 0px;
}

.bar-graph .bar.secondary {
  border: 1px solid #294390;
  background: #4169E1;
  padding: 0px;
}

.bar-graph .bar.success {
  border: 1px solid #294390;
  background: #4169E1;
  padding: 0px;
}

.bar-graph .bar.warning {
  border: 1px solid #294390;
  background: #4169E1;
  padding: 0px;
}

.bar-graph .bar.alert {
  border: 1px solid #294390;
  background: #4169E1;
  padding: 0px;
}

.bar-graph .bar.extra{
  border: 1px solid #294390;
  background: #4169E1;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 1325px) {
  .calDiv  {
    padding: 0%;
    margin: 0%;
  }
  
}