body{
    background-color: #F2F2F2;
}

.navbar-dark{
    background-color: #4169E1;
}

.btn-outline-primary{
    color: #294390;
    border-color: #294390;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #294390;
    border-color: #294390;
}

#navLogo{
    width: 5rem;
    height: auto;
    pointer-events: none;
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: #294390;
}

h1{
    text-align: center;
    color: white;
}
h3{
    text-align: left;
}
h3.hidden{
    visibility: hidden;
}
h3.visible{
    visibility: visible;
}
button.hidden{
    visibility: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table{
    text-align: center;
}

table thead th{
    text-align: center;
}

tableMain thead th{
    text-align: center;
}

#memberArea{
    background: rgba(255, 255, 255, 0.5);
    /* border-radius: 25px; */
    border: 2px solid white;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

#userHours, #userPoints {
    padding: 0.25rem;
}

#hoursFrame, #pointsFrame{
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    margin-bottom: 1.5rem;
}

#hours-form{
    text-align: center;
    margin-bottom: 10px;
}

.memberStats{
    text-align: center;
    font-size: 2rem;
    width: auto;
    padding: 0px;
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0.75);
}

.formInput{
    width:100% !important;
    margin-top: 10px;
}

#confirmArea{
    text-align: center;
    color: white;
}

#confirmMessage{
    font-weight: bold;
    margin: 5px;
    color: #4169E1;
}

.table{
    margin-bottom: 0px;
}
  
.table .text-right {
    padding-right: 3rem;
}

.table#hoursTable tbody tr:hover{
    background-color: lightcoral;
    cursor: pointer;
}

.table-expand-row-bottom{
    pointer-events: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#intercommitteeSection{
    padding: 0px;
    margin-top: 15px;
    cursor: pointer;
}

#titleCard{
  padding: 0px;
  margin-top: 41px;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}


.barText{
    letter-spacing: -3px;
    opacity: 0.6;
    font-size: 3vw;
    color: black;
    /* position: absolute; */
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 1px;
}

.bar-graph {
    padding: 0 1rem;
    /* width: 100%; */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 425px;
    margin: 0;
    position: center;

    background: rgba(255, 255, 255, 0.25);
    border: 2px solid #294390;
    border-radius: 25px;
  }
  
  .bar-graph li {
    display: block;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    border-radius: 4px 4px 0 0;
    max-width: 20%;
    height: 100%;
    margin: 0 1.8% 0 0;
    -webkit-flex: 1 1 15%;
        -ms-flex: 1 1 15%;
            flex: 1 1 15%;
  }
  
  .bar-graph .bar-graph-axis {
    -webkit-flex: 1 1 8%;
        -ms-flex: 1 1 8%;
            flex: 1 1 8%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  @media print, screen and (min-width: 40em) {
    .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
      content: "";
      position: absolute;
      border-bottom: 1px dashed #8a8a8a;
      top: 0;
      left: 0;
      height: 50%;
      width: 20%;
    }
  }
  
  @media print, screen and (min-width: 40em) and (min-width: 64em) {
    .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
      width: 30%;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    .bar-graph .bar-graph-label:after {
      left: auto;
      right: 0;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    .bar-graph .percent {
      font-size: 14px;
      color: black;
    }
  }
  .bar-graph .percent {
    font-size: 2.5vw;
    color: #294390;
    opacity: 0.8;
    margin-top: -3.5vw;
  }
  
  .bar-graph .description {
    font-weight: 800;
    opacity: 0.8;
    color: #294390;
    text-transform: uppercase;
    width: 100%;
    font-size: 2.5vw;
    bottom: 0vw;
    position: absolute;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .bar-graph .bar.primary{
    border: 1px solid #294390;
    background: #4169E1;
    padding: 0px;
  }
  
  .bar-graph .bar.secondary {
    border: 1px solid #294390;
    background: #4169E1;
    padding: 0px;
  }
  
  .bar-graph .bar.success {
    border: 1px solid #294390;
    background: #4169E1;
    padding: 0px;
  }
  
  .bar-graph .bar.warning {
    border: 1px solid #294390;
    background: #4169E1;
    padding: 0px;
  }
  
  .bar-graph .bar.alert {
    border: 1px solid #294390;
    background: #4169E1;
    padding: 0px;
  }

  .bar-graph .bar.extra{
    border: 1px solid #294390;
    background: #4169E1;
    padding: 0px;
    margin: 0px;
  }