body{
    background-color: #F2F2F2;
}

.navbar-dark{
    background-color: #4169E1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
}

.btn-outline-primary{
    color: #294390;
    border-color: #294390;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #294390;
    border-color: #294390;
}

#navLogo{
    width: 5rem;
    height: auto;
    pointer-events: none;
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: #294390;
}

table thead th{
    text-align: center;
}

#headerBox{
    align-content: center;
    padding: 0px;

}

#headerBox h1 {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 20px;
    color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#titleCard{
  padding: 0px;
  margin-top: 121px;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}


