body{
    background-color: #F2F2F2;
}

.navbar-dark{
    background-color: #4169E1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
}

.btn-outline-primary{
    color: #294390;
    border-color: #294390;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #294390;
    border-color: #294390;
}

#navLogo{
    width: 5rem;
    height: auto;
    pointer-events: none;
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: #294390;
}

#tabBox{
    margin-top: 120px;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
}


.tab button{
    position: center;
    padding: 10px;
    width: 49%;
    outline: none;
    background-color: inherit;
}

.table{
    margin-bottom: 0px;
    /* table-layout: fixed;
    word-wrap: break-word; */
}

tbody{
    background-color: #F2F2F2;
}

tbody tr:hover{
    background-color: #41E1B9;
    cursor: pointer;
}

.fullTab{
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.fullTab:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#alumniTab, #membersTab, #searchTabAlumni, #searchTabMembers{
    background-color: white;
    border: 2px solid white;
    overflow: scroll;
}

#alumniTab, #searchTabAlumni, #searchTabMembers{
    display: none;
}

#searchBar{
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 12.5%;
    padding-right: 12.5%;
    z-index: 1;
}

.searchButton{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}