body{
    background-color: #F2F2F2;
}

.navbar-dark{
    background-color: #4169E1;
}

.btn-outline-primary{
    color: #294390;
    border-color: #294390;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #294390;
    border-color: #294390;
}

#navLogo{
    width: 5rem;
    height: auto;
    pointer-events: none;
}

#navNameLI{
    pointer-events: none;
    font-weight: bold;
}

#navName{
    color: #294390;
}

h1{
    text-align: center;
    color: white;
}
h3{
    text-align: left;
}
h3.hidden{
    visibility: hidden;
}
h3.visible{
    visibility: visible;
}
button.hidden{
    visibility: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table{
    text-align: center;
}

table thead th{
    text-align: center;
}

#memberArea{
    background: rgba(255, 255, 255, 0.5);
    /* border-radius: 25px; */
    border: 2px solid white;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

#pageSelection{
    /* background: rgba(255, 255, 255, 0.5); */
    /* border-radius: 25px; */
    /* border: 2px solid white; */
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

#prevButton{
    float: left;
    width: 100%;
}

#nextButton{
    float: right;
    width: 100%;
}

#pageIndicator{
    text-align: center;
    vertical-align: middle;
}

.disable{
    pointer-events: none;
    border: 1px solid gray;
    color: gray;
}

#hoursFrame, #pointsFrame{
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    margin-bottom: 1.5rem;
}

#hours-form{
    text-align: center;
    margin-bottom: 10px;
}

#hoursButton{
    margin-top:10px;
}

.memberStats{
    text-align: center;
    font-size: 2rem;
    width: auto;
    padding: 0px;
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0.75);
}

.formInput{
    width:100% !important;
}

#confirmArea{
    text-align: center;
    color: white;
}

#confirmMessage{
    font-weight: bold;
    margin: 5px;
    color: #4169E1;
}

.table{
    margin-bottom: 0px;
}
  
.table .text-right {
    padding-right: 3rem;
}

.date-card{
    background-color:white;
}

.date-card:hover{
    background-color: #41E1B9;
    cursor: pointer;
}

.table-expand-row-bottom{
    pointer-events: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.signupRow{
    background-color:lightgray !important;
}

.mainTD{
    padding: 0px !important;
}
 
  @media print, screen and (min-width: 40em) {
    .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
      content: "";
      position: absolute;
      border-bottom: 1px dashed #8a8a8a;
      top: 0;
      left: 0;
      height: 50%;
      width: 20%;
    }
  }
  
  @media print, screen and (min-width: 40em) and (min-width: 64em) {
    .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
      width: 30%;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    .bar-graph .bar-graph-label:after {
      left: auto;
      right: 0;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    .bar-graph .percent {
      font-size: 14px;
      color: black;
    }
  }

  .formLabel{
      padding: 0px;
  }

  .spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 32px;
    border-bottom: 1px solid;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    text-indent: 100%;
    -webkit-animation: 0.5s spinner linear infinite;
    -moz-animation: 0.5s spinner linear infinite;
    animation: 0.5s spinner linear infinite;

    position: absolute;
    top: 5px;
    right: 5px;
  }
  .spinner, .spinner:after {
    border-radius: 100%;
  }
  .spinner:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid;
    opacity: 0.5;
  }

  @-webkit-keyframes spinner {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  #myModal{
    white-space: pre-line;
  }
